USE [SeoManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAccessStats]    Script Date: 05/26/2025 10:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_GetAccessStats]
    @Month INT,
    @Year INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Thống kê số liệu tổng quan cho tháng được chọn
    DECLARE @HomNay BIGINT
    DECLARE @TruyCapHomQua BIGINT
    DECLARE @TruyCapTuanNay BIGINT
    DECLARE @SoLanTruyCapTuanTruoc BIGINT
    DECLARE @VisitorCounterThangNay BIGINT
    DECLARE @VisitorCounterThangTruoc BIGINT
    DECLARE @TongSo BIGINT
    DECLARE @TimeGanNhat DATETIME
    DECLARE @VisitorCounterGanNhat BIGINT
    SELECT @VisitorCounterGanNhat = VisitorCounter, @TimeGanNhat = Time 
    FROM AccessStatistics 
    WHERE Id = (SELECT MAX(Id) FROM AccessStatistics)
    AND MONTH(Time) = @Month AND YEAR(Time) = @Year

    SET @HomNay = ISNULL(@VisitorCounterGanNhat, 0)

    -- Số truy cập hôm qua (nếu trong tháng được chọn)
    SELECT @TruyCapHomQua = ISNULL(VisitorCounter, 0) 
    FROM AccessStatistics 
    WHERE CONVERT(NVARCHAR(20), Time, 103) = CONVERT(NVARCHAR(20), DATEADD(DAY, -1, GETDATE()), 103)
    AND MONTH(Time) = @Month AND YEAR(Time) = @Year

    -- Số truy cập tháng này
    SELECT @VisitorCounterThangNay = ISNULL(SUM(VisitorCounter), 0)
    FROM AccessStatistics 
    WHERE MONTH(Time) = @Month AND YEAR(Time) = @Year

    -- Số truy cập tháng trước
    SELECT @VisitorCounterThangTruoc = ISNULL(SUM(VisitorCounter), 0)
    FROM AccessStatistics 
    WHERE MONTH(Time) = MONTH(DATEADD(MONTH, -1, GETDATE())) 
    AND YEAR(Time) = YEAR(DATEADD(MONTH, -1, GETDATE()))

    -- Tổng số truy cập
    SELECT @TongSo = ISNULL(SUM(VisitorCounter), 0) 
    FROM AccessStatistics

    -- Trả về số liệu tổng quan
    SELECT 
        @HomNay AS HomNay,
        @TruyCapHomQua AS HomQua,
        @VisitorCounterThangNay AS ThangNay,
        @VisitorCounterThangTruoc AS ThangTruoc,
        @TongSo AS TatCa

    -- Số liệu theo từng ngày trong tháng được chọn
    SELECT 
        DAY(Time) AS DayOfMonth,
        ISNULL(SUM(VisitorCounter), 0) AS PageViews
    INTO #DailyStats
    FROM AccessStatistics
    WHERE MONTH(Time) = @Month AND YEAR(Time) = @Year
    GROUP BY DAY(Time)

    -- Trả về số liệu theo ngày
    SELECT DayOfMonth, PageViews 
    FROM #DailyStats
    ORDER BY DayOfMonth

    DROP TABLE #DailyStats
END