html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.content-wrapper {
    padding: 1.5rem !important;
}

.page-body-wrapper {
    padding-top:75px !important;
}

.navbar-brand img{
    height:50px !important;
}

.sidebar {
    margin-top: 20px;
}

.hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .hover-effect:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

.progress-bar-animated {
    animation: progressAnimation 2s ease-in-out infinite;
}

@keyframes progressAnimation {
    0%

{
    transform: scaleX(1);
}

50% {
    transform: scaleX(1.05);
}

100% {
    transform: scaleX(1);
}
}