<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeoManagement.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SeoManagement.Web.styles.css" asp-append-version="true" />\
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/js/select.dataTables.min.css">
  
</head>
<body class="with-welcome-text">
    <div class="container-scroller">
        @await Html.PartialAsync("partials/_navbar")
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("partials/_sidebar")
            <div class="main-panel">
                 <div class="content-wrapper">
                     <main role="main" class="pb-3">
                         @RenderBody()
                        </main>
                 </div>
                   @await Html.PartialAsync("partials/_footer")
                 </div>
         </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script> 
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/vendors/select2/select2.min.js"></script>
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/todolist.js"></script>
    <script src="~/js/file-upload.js"></script>
    <script src="~/js/typeahead.js"></script>
    <script src="~/js/select2.js"></script>
    <script src="~/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/js/dashboard.js"></script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
