<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Home">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Tổng quan</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="SEOProjects">
                <i class="menu-icon mdi mdi-file-document"></i>
                <span class="menu-title">Dự án SEO</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="SEOProjects" asp-route-projectType="KeywordRankChecker">
                <i class="menu-icon fa fa-signal"></i>
                <span class="menu-title">Kiểm tra thứ hạng Keyword</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="SEOProjects" asp-route-projectType="SEOOnPage">
                <i class="menu-icon fa fa-window-restore"></i>
                <span class="menu-title">Kiểm tra On-Page</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="SEOProjects" asp-route-projectType="IndexChecker">
                <i class="menu-icon fa fa-solid fa-link"></i>
                <span class="menu-title">Kiểm tra Index</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="SEOProjects" asp-route-projectType="PageSpeedChecker">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-title">Phân tích tốc độ Page</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="SEOProjects" asp-route-projectType="BacklinkChecker">
                <i class="menu-icon fa fa-external-link"></i>
                <span class="menu-title">Kiểm tra Backlink</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="SEOProjects" asp-route-projectType="WebsiteInsight">
                <i class="menu-icon fa fa-flask"></i>
                <span class="menu-title">Phân tích Website</span>
            </a>
        </li>
    </ul>
</nav>